<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905691047508-jie635t5a2rg4bo2afv7e1hvi8fshmsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905691047508-jie635t5a2rg4bo2afv7e1hvi8fshmsl</string>
	<key>API_KEY</key>
	<string>AIzaSyDaZX-ebSVeHPOLzE59eofHuzG74cEZoUE</string>
	<key>GCM_SENDER_ID</key>
	<string>905691047508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.vg-flutter-template</string>
	<key>PROJECT_ID</key>
	<string>vgfluttertemplate</string>
	<key>STORAGE_BUCKET</key>
	<string>vgfluttertemplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905691047508:ios:77d6c774a11dc7cbf1afc1</string>
</dict>
</plist>